In [2]:
from sklearn.pipeline import Pipeline

In [3]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.linear_model import LinearRegression

In [4]:
estimators=[]

sc=StandardScaler()
estimators.append(('scaler',sc))

model=LinearRegression()
estimators.append(('LR',model))

if we have .fit and .transform we can use pipeline

In [5]:
from sklearn.datasets import load_diabetes
from sklearn.model_selection import  train_test_split

data=load_diabetes(as_frame=True).frame

In [6]:
X,Y=data.iloc[:,:-1],data.iloc[:,-1]

In [7]:
X

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [8]:
Y

0      151.0
1       75.0
2      141.0
3      206.0
4      135.0
       ...
437    178.0
438    104.0
439    132.0
440    220.0
441     57.0
Name: target, Length: 442, dtype: float64

In [11]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.20)

In [10]:
pipe=Pipeline(steps=estimators)

In [12]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('scaler', StandardScaler()), ('LR', LinearRegression())])

In [13]:
pred=pipe.predict(x_test)

In [14]:
pred

array([155.09217292,  61.15943193, 120.87311571,  60.12756071,
       230.91608573, 152.64681284, 127.31729838, 236.64117572,
       121.31110086,  74.11948007, 115.88933754,  70.9214    ,
       150.10714614, 192.21358364, 164.6349374 , 114.8717735 ,
       174.13023541, 165.12670991, 167.42579374,  90.16338441,
       118.79282118, 248.63998782, 204.84336893, 160.53668429,
       117.36123417, 130.07998231,  81.95154616,  66.82768687,
        55.37691833, 244.60613091,  66.10011696, 191.41567544,
       149.97544408, 157.08737659, 260.70271379, 201.52237432,
       162.743681  , 147.96255146, 117.31830362,  86.26438997,
       108.24509653,  50.51740438, 144.09627665,  84.11454738,
       234.35939255, 201.83214595, 170.27531838,  45.38793093,
       116.44402946, 166.70537557, 119.68535632, 158.47521288,
       101.67645085, 262.27493111, 223.55689906, 172.6799885 ,
       283.32955062, 107.50827702, 143.84678202, 148.08278322,
       119.89012819, 159.12115519, 205.70223675,  95.47065548,
       114.43748386,  83.07259312, 120.56192132, 184.08659658,
       108.73520493, 126.00501621, 121.66897204, 109.6686483 ,
       177.22567435, 206.15538067, 232.9809668 , 187.04310095,
       153.0697662 , 113.9348746 ,  76.50984463,  89.46574034,
       126.1137046 , 159.32671223, 145.05783704, 153.00754303,
       238.45442151, 193.28693636, 120.02305471, 154.75504999,
       307.2025353 ])

In [15]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_test,pred)

41.172749841526404

In [16]:
from sklearn.ensemble import VotingRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR

In [18]:
models=[]

lr=LinearRegression()

xgb=XGBRegressor()

svr=SVR()

models.append(('LR',lr))
models.append(('XBG',xgb))
models.append(('SVR',svr))

In [19]:
vc=VotingRegressor(models)

In [20]:
vc

VotingRegressor(estimators=[('LR', LinearRegression()), ('XBG', XGBRegressor()),
                            ('SVR', SVR())])